*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    font-family: 'Raleway';
    font-style: normal;
    background: #f5f5f5;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.itens-topo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 16px 32px;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

/*Customização barra de pesquisa*/
.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #2A7AE4;
    flex: none;
}


.logo{
    width: 151px;
    height: 32px;
}

.busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
    width: 272px;
    height: 40px;
    color: #A2A2A2;
}

.login{
    background: #f5f5f5;
}

.conteiner-login{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.caixa-login{
    display: flex;
    padding: 16px 16px;
    border: none;
    width: 423px;
    height: 63px;
    border-radius: 4px;
}

.button-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 423px;
    height: 62px;
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 768px;
    height: 371px;
    background: #EAF2FD;
}

#footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-footer{
    width: 150px;
    height: 39px;
}

.links{
    display: flex;
    font-size: 16px;
    line-height: 19px;
}

.busca-formulario{
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    background: #ffffff;
    border: none;
    width: 347px;
    height: 56px;
    gap: 3px;
}

.busca-formulario p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
}

.entrada-nome{
    display: flex;
    border: none;
}

.busca-formulario2{
    display: flex;
    padding: 16px 16px;
    background: #ffffff;
    border: none;
    width: 347px;
    height: 82px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 704px;
    height: 307px;
    padding: 40px 0px;
    gap: 112px;
}

.button-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
}

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #292929;
    padding: 32px;
    text-align: center;
}

#remove{
    display: none;
}