*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
    font-style: normal;
}

/*Customização cabeçalho*/
.header{
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.itens-topo{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 170px;
    padding: 41px 0px;
}

.navbar-left{
    display: flex; 
    grid-gap: 32px;
}

.login{
    
    background: #f5f5f5;
}

.conteiner-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.caixa-login{
    display: flex;
    padding: 16px 16px;
    background: #ffffff;
    border: none;
    width: 423px;
    height: 63px;
    border-radius: 4px;
}

.button-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 423px;
    height: 62px;
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.logo{
    max-width: 151px; max-height: 39px;
}

.busca{
    display: flex;
    padding: 16px 16px;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
    width: 393px;
    height: 10px;
}

.button-topo{
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 130px;
    height: 51px;
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 381px;
    background: #EAF2FD;
    margin-top: 60px;
}

.logo-footer{
    width: 150px;
    height: 39px;
}

.busca-formulario{
    display: flex;
    padding: 16px 16px;
    background: #ffffff;
    border: none;
    width: 560px;
    height: 56px;
}

.busca-formulario2{
    display: flex;
    padding: 16px 16px;
    background: #ffffff;
    border: none;
    width: 560px;
    height: 82px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #464646;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1136px;
    height: 253px;
    padding: 64px 0px;
    gap: 112px;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    width: 176px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.button-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
}

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #292929;
    padding: 32px;
    text-align: center;
}

