*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    font-family: 'Raleway';
    font-style: normal;
    background: #f5f5f5;
}

/*Customização cabeçalho*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 360px;
    height: 72px;
}

#lupa{
    display: flex;
    color: #A2A2A2;
}

.itens-topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 32px 0px;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    grid-gap: 32px;
}

/*Customização barra de pesquisa*/
.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 133px;
    height: 40px;
    color: #2A7AE4;
    background-color: #ffffff;
    border: 1px solid #2A7AE4;
}


.logo{
    max-width: 151px; max-height: 39px;
}

.busca{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
    width: 272px;
    height: 40px;
    color: #A2A2A2;
}

#conteiner-produtos{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 995px;
    padding: 0px;
    margin-top: 1px;
}

.produto-destaque{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 360px;
    height: 588px;
}

.produto-destaque img{
    width: 360px;
    height: 250px;
}

.info-produto-destaque{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    width: 360px;
    height: 221px;
}

.info-produto-destaque h1{
    font-size: 22px;
    line-height: 26px;
}

.produtos{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 560px;
    padding: 10px;
}

.produto-imagem img{
    width: 156px;
    height: 164px;
}

.list-produtos{
    display: flex;
    flex-wrap: wrap;
    width: 346px;
}

.produtos-temas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.produtos-temas h3{
    font-size: 15px;
    color: #2A7AE4;
}

.produto-item{
    width: 160px;
    height: 252px;
}

#remove{
    display: none;
}

.produto-nome{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.ver-info{
    width: 100px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EAF2FD;
    gap: 16px;
    width: 360px;
    height: 542px;
    padding: 0px;
}

#footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 328px;
    height: 249px;
}

.logo-footer{
    width: 150px;
    height: 39px;
}

.links{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    width: 328px;
    height: 194px;
}

.busca-formulario{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: none;
    width: 328px;
    height: 229px;
    gap: 8px;
}

.busca-formulario p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
}

.entrada-nome{
    display: flex;
    border: none;
}

.busca-formulario2{
    display: flex;
    padding: 16px 16px;
    background: #ffffff;
    border: none;
    width: 328px;
    height: 56px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 229px;
    gap: 08px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 510px;
    gap: 10px;
}

.button-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 151px;
    height: 40px;
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
    flex: none;
}

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #292929;
    padding: 32px;
    text-align: center;
    width: 360px;
    height: 102px;
}